
# Backend API URL
VITE_API_URL=http://localhost:5000

VITE_CLOUDINARY_BASE_URL=https://res.cloudinary.com/your_cloud_name/image/upload

# Cloudinary Config
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_unsigned_upload_preset
VITE_CLOUDINARY_API_KEY=your_cloudinary_api_key
VITE_CLOUDINARY_API_SECRET=your_cloudinary_api_secret
