.header {
    color: #ffffff; /* text-gray-600 */
    font-family: sans-serif;
    position: sticky;
  }
  
  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .logo{
    width: 230px;
    height: auto;
    margin-left: 10px;
  }
  
  @media (min-width: 768px) {
    .header-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #1F2937; /* text-gray-900 */
    margin-bottom: 1rem;
    text-decoration: none;
  }
  
  .logo-icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: #6366F1; /* bg-indigo-500 */
    color: white;
    border-radius: 9999px;
  }
  
  .logo-text {
    margin-left: 12px;
    font-size: 1.25rem;
  }
  
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    padding-left: 16px;
    margin: 0 16px;
  }
  
  .nav-links a {
    margin-right: 20px;
    color: #fbfcff;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    color: #fbff00; /* hover:text-gray-900 */
  }
  
  .nav-button {
    display: inline-flex;
    align-items: center;
    background-color: transparent; /* bg-gray-100 */
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    color: #ffffff;
  }
  
  @media (min-width: 768px) {
    .nav-button {
      margin-top: 0;
    }
  }
  
  .nav-button:hover {
    background-color: #fbff00; /* hover:bg-gray-200 */
  }
  
  .arrow-icon {
    width: 16px;
    height: 16px;
    margin-left: 6px;
  }
  