.hero-section {
  color: #110000; /* Tailwind text-gray-600 */
  font-family: sans-serif;
  padding: 6rem 1.25rem;
}

.hero-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
  }
}

.hero-image-wrapper {
  max-width: 100%;
  width: 83.333333%;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .hero-image-wrapper {
    width: 50%;
    margin-bottom: 0;
  }
}

.hero-image {
  width: 50%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.hero-text-wrapper {
  flex-grow: 1;
  width: 50%;
  padding-left: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .hero-text-wrapper {
    padding-left: 4rem;
    text-align: left;
    align-items: flex-start;
  }
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #ffffff; /* Tailwind text-gray-900 */
}

@media (min-width: 640px) {
  .hero-title {
    font-size: 2.25rem;
  }
}

.hero-description {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.hero-buttons {
  display: flex;
  justify-content: center;
}

.btn-primary {
  color: white;
  background-color: #6366f1; /* indigo-500 */
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #4f46e5; /* indigo-600 */
}

.btn-secondary {
  margin-left: 1rem;
  color: #374151; /* gray-700 */
  background-color: #f3f4f6; /* gray-100 */
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #e5e7eb; /* gray-200 */
}

.hide-on-mobile {
  display: none;
}

@media (min-width: 1024px) {
  .hide-on-mobile {
    display: inline-block;
  }
} 